body,
html,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.App {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.bar {
	display: flex;
	width: 100%;
	height: 33.33%;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#cat {
	background-color: #000;
}

#hopper {
	background-color: #dd0000;
}

#mouse {
	background-color: #ffce00;
}

canvas {
}
